@import "bootstrap";
@import "bootstrap-responsive";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$light_purple: #e2e5ee;
$dark_purple: #cacdd5;
$brown: #3d3331;
$dark_brown: #362d2c;
$tan: #ddd5a4;
$yellow: #fdfb94;

@media screen and (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

body, button {
  font-family: 'Istok Web', sans-serif;
}

body, p, dl, ul, ol, li, dd, dt {
  font-size: 16px;
  line-height: 20px;
}

#main {
  overflow: visible;
}

#header {
  width: 100%;
  background-color: $light_purple;
  border-bottom: 5px solid $dark_purple;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

#library {
  font-weight: bold;
}

#now {
  display: block;
  text-align: right;
}

#itlo {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid $dark_purple;
  #library-chooser {
    margin-bottom: -15px;
    display: inline-block;
    text-align: left;
    .btn-text {
      font-size: 24px;
      line-height: 28px;
    }
    .caret {
      margin-top: 12px;
      border-width: 8px 8px 0 8px;
    }
  }
  #open-info {
    margin-top: 20px;
  }
  .y-or-n {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 128px;
    line-height: 142px;
  }
}

#schedule {
  margin-left: 10%;
  width: 90%;
  h2 {
    text-align: center;
  }
  dt {
    text-align: left;
    padding-left: 20px;
    width: 110px;
  }
  dt, dd {
    border-bottom: 1px solid $dark_purple;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &.dow0 {
      border-bottom-width: 0;
    }
  }
  #updated {
    font-size: 12px;
    padding-left: 20px;
  }
}

#map {
  width: 100%;
  height: 360px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
}

#address {
  abbr {
    border-bottom: 0;
    cursor: inherit;
  }
}

#footer {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  color: white;
  border-top: 5px solid $dark_brown;
  background-color: $brown;
  a {
    &:link, &:active, &:visited {
      color: $tan;
    }
  }
}
