<%
  var capitalize = function (string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  };
%>
<h2><%= name %> hours</h2>
<dl class="dl-horizontal">
  <% _(hours).each(function (schedule, day) { %>
    <dt><%= capitalize(day) %></dt>
    <dd><%= schedule[0] %> - <%= schedule[1] %></dd>
  <% }); %>
</dl>
