.container
  #header.row
    #library.span6 Durham Public Library
    #now.span6 
  #itlo
    .row
      .span12 
        Is 
        #library-chooser.btn-group
          %button.btn.btn-large.dropdown-toggle(data-toggle="dropdown" href="#")
            %span.btn-text choose library
            %span.caret
          %ul.dropdown-menu
            - data.libraries.each do |key, library|
              %li
                %a(data-library=key href="#")= library['name']
        open?
    #open-info
  .row
    #hours.span6
    #contact.span6
