.container
  #header.row
    #library.span8 Durham Public Library
    #now.span4 Today's date &amp; time
  #itlo
    .row
      .span12 Is Southwest Open?
    .row
      .span12.y-or-n Yes,
    .row
      .span12 until 9PM
  .row
    .span5.offset1
      %p Southwest Hours
      %dl.dl-horizontal
        %dt Monday
        %dd 9a-9p
    .span5
      .map MAP
      .address Address
