.container
  .row
    .span8 Durham Public Library
    .span4 Today's date &amp; time
  .row
    .span12 Is Southwest Open?
  .row
    .span12 
      %h1 Yes,
  .row
    .span12 until 9PM
  .row
    .span6
      %p Southwest Hours
      %dl.dl-horizontal
        %dt Monday
        %dd 9a-9p
    .span6
      .map MAP
      .address Address
