#header
  .container
    .row
      #library.span6
        %a(href="http://www.durhamcountylibrary.org") Durham County Library
      .span6
        %span#now

.container
  #itlo
    .row
      .span12 
        Is 
        #library-chooser.btn-group
          %button.btn.btn-large.dropdown-toggle(data-toggle="dropdown" href="#")
            %span.btn-text choose library
            %span.caret
          %ul.dropdown-menu
            - data.libraries.each do |key, library|
              %li
                %a(data-library=key href="#")= library['name']
        open?
    #open-info
  .row
    .span5
      #schedule
        #hours
        #updated Last updated: #{Date.today.strftime("%B %d, %Y")}
    #contact.span7

#footer
  .container
    .row
      Brought to you by the
      %a(href='http://www.durhamcountylibrary.org/board.php') Durham County Library Board of Trustees
      and
      %a(href='http://thinkrelevance.com') Relevance, Inc.
    .row.oss
      Is the Library Open? is
      <a href="http://en.wikipedia.org/wiki/Open-source_software">open-source software</a>.
      Find the code
      <a href="https://github.com/crnixon/itlo">at GitHub</a>.
